<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Email com Tailwind</title>
    <!-- Importando Tailwind CSS via CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div
      class="container my-8 mx-auto px-16 py-16 bg-white flex flex-col"
    >
      <div>
        <!-- Logo//TODO - save a template image in another place -->
        <img
          src="https://bfluentidioma.com/wp-content/uploads/2023/07/cropped-Logos_Horizontal_PNG-260x67.png"
          alt="{{schoolName}} Logo"
          class="mx-auto"
        />
      </div>
      <div class="my-5">
        <h1 class="text-2xl font-bold">Password Reset</h1>
        <p>Hi, {{name}}.</p>
        <p>
          We received a request to reset your password. If you did not make this
          request, you can ignore this email.
        </p>
        <p>
          If you did make this request, click the button below to reset your
          password
        </p>
        <a
          href="{{resetLink}}"
          class="text-white font-bold py-2 px-4 w-48 rounded block text-center mt-4"
          style="background-color: #6bbf4f"
          >Reset Password</a
        >
      </div>
      <div class="my-5">
        <p class="font-medium">
          This link will expire in 24 hours, and is only valid for one use.
        </p>
    </div>
  </body>
</html>
